<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %><!-- hyphen to have raw html, = escapes spl chars and conv to str-->

  <div class="blogs content">
    <h2>All Blogs</h2>
<!--looping through array of objects, ejs tags for js syntax without =,within template-->
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <h3 class="title"><%= blog.title %></h3> <!--js syntax to output js value, = used-->
        <p class="snippet"><%= blog.snippet %></p>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>